<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://app.pgyer.com/8edc8d507be2777ac5624b2ef74d2e7a.ipa?v=1.1&sign=4a15fcd662e08a1fa6d6d22a9f53d9e2&t=56f1792b&attname=%E5%BE%AE.%E8%BD%AC%E5%8F%91-%E7%BB%BF%E8%89%B2-resigned.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/276d7f25-f61e-4f5f-7fac-d60eecbee210.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/276d7f25-f61e-4f5f-7fac-d60eecbee210.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.tencent.weixin.jy.01</string>
               <key>bundle-version</key>
               <string>6.3.6</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>kitty</string>
               <key>title</key>
               <string>kitty</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
