<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://yxb.iqun.net/js.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/6d9bc13a-7f8b-4312-6daf-529b9c4c6ce9.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/6d9bc13a-7f8b-4312-6daf-529b9c4c6ce9.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>js.weixin.leoyia</string>
               <key>bundle-version</key>
               <string>6.3.9</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>金色微信</string>
               <key>title</key>
               <string>金色微信</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
