<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/app/99284db1-fa2a-4bcc-6524-2570fd353859.ipa?Expires=1458563898&amp;response-content-disposition=attachment%3Bfilename%3D%E5%8F%BC%E7%88%86%E4%BA%86%C2%B7%E7%99%BD_v6.3.5.ipa&amp;AWSAccessKeyId=cNz%2F9EdJaDMh0FAhDzZA&amp;Signature=F4LzpWj%2BwwhOn8oI3gGBqYyKANw%3D</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/d5e20cda-03ef-4dea-593c-3d056c26892e.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/d5e20cda-03ef-4dea-593c-3d056c26892e.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>d.b.b.1</string>
               <key>bundle-version</key>
               <string>6.3.5</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>叼爆了·白</string>
               <key>title</key>
               <string>叼爆了·白</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
