<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/app/6916e47b-fa0b-4e83-6a6e-806153f6da36.ipa?Expires=1458567512&amp;response-content-disposition=attachment%3Bfilename%3D%E5%BE%AE%E4%BF%A1_v6.3.6.ipa&amp;AWSAccessKeyId=cNz%2F9EdJaDMh0FAhDzZA&amp;Signature=EYrAZ4lGVjZKOCFUJD%2FDfyFS12g%3D</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/276d7f25-f61e-4f5f-7fac-d60eecbee210.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://tako.kssws.ks-cdn.com/logo/276d7f25-f61e-4f5f-7fac-d60eecbee210.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>ni8m.cp3rue.1baeet5a.app1</string>
               <key>bundle-version</key>
               <string>6.3.6</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>微信</string>
               <key>title</key>
               <string>微信</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
